{% extends "webapp/base.html" %}
{% load static %}
{% block content %}
    <div class="content-section">
        <h2>Data Usage</h2>
        <div class="border-top pt-5">
            <div class="row">
                <div class="col-md-8">
                    <div class="graph-group">
                        <img id="imgGraph" src="{% static 'img/icon-graph.png' %}" alt="Meter graph"/>
                        <div id="loadingMask" class="loading-mask">
                            <img src="{% static 'img/loading.gif' %}" alt="loading" />
                        </div>
                    </div>
                </div>
                <div>
                    <form id="frmGraphFilter" action="{% url 'graph-monthly' %}" method="GET" class="form" onsubmit="return showFilterGraph(event);" >
                        <div class="form-group">
                            <label for="meterId">Meter Id:</label>
                            <input type="text" id="meterId" name="meterId" class="form-control" value="{{ meterid }}" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="year">Year:</label>
                            <input type="text" id="year" name="year" class="form-control" value="{{ year }}" placeholder="2017"/>
                        </div>
                        <div class="form-group" style="text-align: right">
                            <input type="submit" value="Show Graph" class="btn btn-primary" >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block bodyscript %}
    <script type="text/javascript">
        var graphUrl = "{% url 'graph-monthly' %}";
        var imageUrl = "{% url 'graph-monthly-png' %}";

        function showFilterGraph(e) {
            var evt = e || event;
            if (evt) {
                evt.preventDefault();
            }
            var frm = document.getElementById("frmGraphFilter");
            if (!frm && !frm.meterId) return;
            var meterId = frm.meterId.value;
            var year = frm.year.value;
            showLoading(true);
            loadGraph(meterId, year);

            return false;
        }

        function loadGraph(meterId, year) {
            var newUrl = graphUrl + "?meterid=" + meterId;
            var newImageUrl = imageUrl + "?meterId=" + meterId;
            if (year) {
                newUrl += "&year=" + year;
                newImageUrl += "&year=" + year;
            }

            var img = document.getElementById("imgGraph");
            img.src = newImageUrl + "&random=" +new Date().getTime();

            if (window.history.replaceState) {
                window.history.replaceState('', '', newUrl);
            }
        }

        function showLoading(show) {
            var loadingMask = document.getElementById("loadingMask");
            if (!loadingMask) return;
            if (show) {
                $(loadingMask).css("display", "block");
            } else {
                $(loadingMask).css("display", "none");
            }
        }

        // handle image loaded
        var imgGraph = document.getElementById("imgGraph");
        imgGraph.addEventListener("load", function(){
            showLoading(false);
        });

        // Load graph
        window.addEventListener('load', (event) => {
            showLoading(true);
            loadGraph({{ meterid }}, {{ year }});
        });

    </script>
{% endblock bodyscript %}